#include <windows.h>
#include "dll_version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     DLL_VERSION_MAJOR, DLL_VERSION_MINOR, DLL_VERSION_PATCH, 0
PRODUCTVERSION  DLL_VERSION_MAJOR, DLL_VERSION_MINOR, DLL_VERSION_PATCH, 0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904B0"
BEGIN
VALUE "CompanyName", "NRTnarathip"
VALUE "FileDescription", "DeathStranding Mod Loader"
VALUE "FileVersion", DLL_VERSION_STRING
VALUE "InternalName", "mod_laoder.dll"
VALUE "OriginalFilename", "mod_laoder.dll"
VALUE "ProductName", "DeathStranding Mod Loader"
VALUE "LegalCopyright", "Copyright (2025) NRTnarathip. All rights reserved."
VALUE "ProductVersion", DLL_VERSION_STRING
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0409, 1200
END
END