<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.87.0" targetFramework="native" />
  <package id="boost_stacktrace_noop-vc141" version="1.87.0" targetFramework="native" />
  <package id="Microsoft.Direct3D.D3D12" version="1.616.1" targetFramework="native" />
</packages>